@import "../../scss/variables.module";
.home {
  background-color: $bg-primary;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border: 1px solid #252525;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
}

.nochats {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-secondary;
  span {
    padding: 10px;
    background-color: $bg-tertiary;
    border-radius: 20px;
  }
}
