@import "variables.module";
@import "form";

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: $bg-primary;
  color: $text-primary;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
