$bg-primary: #000;
$bg-secondary: #1e1e1e;
$bg-tertiary: #151515;
$bg-input: #252525;
$text-primary: #fff;
$text-secondary: #c6c6c6;
$text-tertiary: #5b5b5b;
$content-primary: #ff9000;
$error: #e26150;
